/**
* VARIABLES SCSS
* copywrite Opera Mediaworks 2016
* @AUTHOR Kelley Zerga
*/

//Opera Color Palette
$lila-purple: rgba(161, 74, 225, 1);
$nordlys-green: rgba(67, 212, 176, 1);
$senja-blue: rgba(102, 75, 228, 1);
$acai: rgba(114, 0, 78, 1);
$rosado-pink: rgba(234, 113, 160, 1);
$terre-clay: rgba(112, 85, 99, 1);
$primary-red: rgba(255, 27, 45, 1);
$secondary-red: rgba(180, 25, 51, 1);
$slate: rgba(85, 102, 119, 1);
$vino-plum-purple: rgba(40, 7, 44, 1);

//BOOTSTRAP BUTTON VARIABLES
